* {
    box-sizing: border-box; 
    margin:0
}

html,body { 
    margin: 0; /*сброс стандартных отступов*/
    box-sizing: border-box;
    background: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
} 

.container {
    width: 1200px;
    margin: 10px auto;
    display: grid;
}

.information {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

h3 span {
    color: orange;
}

.cart {
    width: 250px;
    height: 365px;
    margin: 0 15px 0 15px;
    background: #fff;
    float: left;
    text-align: center;
    font-size: 18px;
} 

.picture{
    width: 80%;
    margin-top: 30px;
}

.name {
    color: grey; 
}

.cost {
    color: orange;
}

/* -------------------------------------------------------- */

.block1 {
    margin-top: 20px;
    width: 50%;
    min-height: 100px;
    background: #fff;
    border: 1px solid grey;
    justify-self: center;
    display: flex;
}

.sale {
    width: 25%;
}

.sale-img{
    width: 80px;
    height: 80px;
    background-image: url(../images/sale_img.png);
    margin:10px auto;
    text-align: center;
    padding-top: 15px;
}

.sale-img span{
    font-style: italic;
    font-size: 12px;
    color: #fff; 
}

.sale-img p{ 
    font-size: 18px;
    color: #fff; 
}

.slogan {
    width: 40%;
    margin: 0 2.23%;
    margin-top: 20px;
    text-align: center;
}

.slogan h3 {
    color: #04404b;
    font-size: 22px;
}

.slogan p {
    color: #495662;
    font-size: 12px;
    padding-top: 10px;
}

.price {
    width: 23%;
    min-height: 100px;
    margin: 0 2%;
    color: orange;
    font-size: 24px;
    line-height: 100px;
    text-align: center;
}

.price p::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 30px;
    background-image: url(../images/card_plus.png);
}

.row {
    margin: 0 -1.25%;
    display: flex;
    width: 1200px;
    margin: 10px auto;
}

.row::after {
    content: "";
    display: block;
    clear: both;
    
}

.footer {
    background: #fff;
    padding: 60px 0 44px 0;
    font-size: 14px;
}

.block370 {
    width: 30.83%;
    min-height: 100px;
    margin: 0 1.25%; 
}

.copyright{ 
    margin-top: 20px;
}  

.block170 {
    width: 14.16%;
    min-height: 100px;
    margin: 0 1.25%;
}

ul.nav a{
    color: #28313b;
    text-decoration: none;
}

ul.nav a:hover{
    color:#ff5912
}


ul.nav li{
    margin-bottom: 15px;
}

.block170 h4 {
    color: orange;
    margin-bottom: 20px;
}